html,
body {
    min-height: 100vh;
    margin: 0;
    font-family: 'comic-sans-ms', sans-serif;
}

html {
    scroll-behavior: smooth !important;
}

header {
    background-color: #92C87E;
    display: flex;
}

.nav_class {
    background-color: #92C87E;
}

.tc {
    text-align: center;
}

a {
    text-decoration: none;
}

.scroll-class {
    /* overflow-y: scroll; */
    position: sticky;
    bottom: 0;
}

.paypal-btn {
    background-color: #003087;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    padding: 12px 24px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: 100px 26px;
    background-position: center;
    font-family: Arial, sans-serif;
}


.logo_img {
    width: 150px;
    border-radius: 10px;
}

h3,
.h3 {
    font-size: 21px;
}

.lista_footer {
    text-align: center;
}

.no-float {
    float: none !important;
}

.fw300 {
    font-weight: 400;
    text-align: left;
    padding-top: 5px;
}

.just-icon {
    position: relative;
    margin: 10px;

    float: none;
    background: 0 0;
    padding-top: 0;
    padding-bottom: 0;
    text-align: center;
}

.icon {
    display: block;
    width: 100%initial
}

.icon-header {
    display: block;
}

.social a {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    padding: 10px 15px;
    z-index: 0;
    transition: 0.1s ease;
}

.fab {
    width: 20px;
    text-align: center;
    font-size: 20px;
}

.fa-facebook-f {
    background: #3b5998;
    border-radius: 5px;
    opacity: 0.7;
}

.fa-instagram {
    background: #cc0590;
    border-radius: 5px;
    opacity: 0.7;
}

.social .fa-whatsapp {
    background: #25d366;
    border-radius: 5px;
    opacity: 0.7;
}

.fa-whatsapp {
    /* background: #25d366;    */
    border-radius: 5px;

}

.fa-facebook-messenger {
    background: #0084ff;
    border-radius: 5px;
    opacity: 0.7;
}

.social a:hover {
    padding: 10px 60px;
}

.social {
    z-index: 99999;
    position: fixed;
    right: 0px;
    top: 30%;

}

.social ul {
    list-style: none;
    border-radius: 15px;
    text-align: right;
}

.social a {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    padding: 10px 25px 8px 15px;
    margin: 1px;
    z-index: 0;
    transition: 0.1s ease;
}

footer {
    margin-top: 30px;
    height: 100%;
    display: flex;
    text-align: center;
    padding-bottom: 20px;
    background-color: #efefef;
    color: black;
}

.footer-logo {
    width: 100%;
    max-width: 200px;
    margin-bottom: 50px;
}

footer .container {
    margin-top: 50px;
}

footer h3 {
    font-size: 25px;
    text-align: left;
    margin-bottom: 10px;
}

footer ul {
    text-align: left;
    list-style-type: none;
    padding: 10px;
}

.cards-credit {
    display: flex;
    justify-content: left;
}

footer h6 {
    font-size: 16px;
    text-align: left;
}

.section-body ul {

    padding-right: 10px;
    text-align: center;
    list-style-type: none;
    margin-left: 5%;
    padding: 10px;

}

.section-body i {

    background: linear-gradient(75deg, blue 10%, #fff 100%);
    /* background: linear-gradient(75deg, #053fdf 10%, #d2f702 100%); */
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    width: 40px;
    height: 25px;
    font-size: 25px;
    text-align: center
}

.section-body span {
    padding-left: 5px;
}

.social span {
    color: black;
}

footer i {
    width: 20px;
    height: 20px;
    font-size: 20px;
    text-align: center
}


@media only screen and (max-width: 768px) {

    /* For mobile phones: */
    .social {
        right: 0px;
    }

    .social {
        top: 50%;
    }

    .logo-container {
        text-align: center;
    }

    .top-container.inverter .container-fluid {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .top-container .top-nav {
        justify-content: center;
        /* background-color: brown; */
    }

    .card {
        display: block;
    }

    .articule img {
        /* position: absolute; */
        width: 82%;
    }
}

@media only screen and (max-width: 990px) {

    footer ul,
    footer h3,
    footer h6 {
        text-align: center;
    }

    .cards-credit {
        justify-content: center;
    }

    .top-container.inverter {
        height: 100%;
    }
}